1. What are data structures, and why are they important?

Data structures are ways of organizing and storing data so that operations like access, insertion, deletion, and traversal can be performed efficiently. They’re important because they help manage and optimize data handling in software programs, enabling better performance and scalability.

2. Explain the difference between mutable and immutable data types with examples.

Mutable: Can be changed after creation. Example: list, dict, set.

In [ ]:
my_list = [1,2]
my_list.append(3)

Immutable: Cannot be changed after creation. Example: int, str, tuple.

In [ ]:
my_str = "hello"
my_str[0] = 'H'
# Error: Strings are immutable

3. What are the main differences between lists and tuples in Python?

| Feature     | List         | Tuple       |
| ----------- | ------------ | ----------- |
| Mutability  | Mutable      | Immutable   |
| Syntax      | `[1, 2, 3]`  | `(1, 2, 3)` |
| Performance | Slower       | Faster      |
| Use Case    | Dynamic data | Fixed data  |

4. Describe how dictionaries store data.

Dictionaries store data as key-value pairs. Under the hood, they use a hash table to map keys to values, allowing fast lookups:

In [4]:
my_dict = {'name': 'Alice', 'age': 25}

5. Why might you use a set instead of a list in Python?

To automatically remove duplicates.

To perform fast membership tests.

To perform set operations like union, intersection, etc.

In [5]:
set([1,2,3,4])

{1, 2, 3, 4}

6. What is a string in Python, and how is it different from a list?

A string is an immutable sequence of characters, while a list is a mutable sequence that can hold any data type.

In [6]:
s = "hello"
l = ['h', 'e', 'l', 'l', 'o']

7. How do tuples ensure data integrity in Python?

Tuples are immutable, so once created, their contents can't be changed. This prevents accidental data modification and makes them ideal for fixed data collections.

8. What is a hash table, and how does it relate to dictionaries in Python?

A hash table is a data structure that maps keys to values using a hash function. Python’s dict uses a hash table internally for O(1) average time complexity in lookups.

9. Can lists contain different data types in Python?

Yes. Lists in Python are heterogeneous:

In [7]:
m_list = [1,"hello,3.14,True"]

10. Explain why strings are immutable in Python.

Strings are immutable to:

Ensure thread safety

Improve performance (due to internal optimizations)

Allow hashability for use as dictionary keys

11. What advantages do dictionaries offer over lists for certain tasks?

Faster lookups by key (O(1) vs O(n)).

Semantic clarity when using named keys.

Ideal for structured data, like JSON.

12. How do sets handle duplicate values in Python?

Sets automatically discard duplicates:

In [8]:
set([1,2,2,3])

{1, 2, 3}

13. Describe a scenario where using a tuple would be preferable over a list.

Use a tuple when:

Data should not change (e.g., coordinates, RGB values).

You want to use it as a dictionary key.

In [ ]:
location = (28.61,77.20)
#Latitude & Longitude

14. How does the “in” keyword work differently for lists and dictionaries?

List: Checks if a value is in the list.

Dictionary: Checks if a key exists (not value).

In [9]:
2 in [1,2,3] #True
'name' in {'name': 'A'} #True
'A' in {'name': 'A'} #False

False

15. Can you modify the elements of a tuple? Explain why or why not.

No. Tuples are immutable, so their contents can't be modified after creation:

In [ ]:
t = (1, 2, 3)
t[0] = 10  # Error

16. What is a nested dictionary, and give an example of its use case.

A nested dictionary contains dictionaries as values.
Use case: Representing structured data like employee records:

In [12]:
employees = {
  'emp1': {'name': 'Alice', 'age': 30},
  'emp2': {'name': 'Bob', 'age': 25}
}

17. Describe the time complexity of accessing elements in a dictionary.

Average case: O(1)

Worst case (due to collisions): O(n)

18. In what situations are lists preferred over dictionaries?

When order matters (pre-3.7 dictionaries were unordered).

When you need a simple sequence of items.

When keys are not necessary.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

Until Python 3.6, dictionaries were unordered. From Python 3.7+, they preserve insertion order, but conceptually still don't guarantee order-based operations like sorting.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

List: Accessed by index (numeric).

Dictionary: Accessed by key (string, number, tuple, etc.).

In [ ]:
my_list[0] #Index-based
my_dict['name'] #Key-based

Practical Questions

1. Create a string with your name and print it

In [13]:
name = "Priyadarshini"
print(name)

Priyadarshini

2. Find the length of the string "Hello World"

In [14]:
print(len("Hello World"))

11

3. Slice the first first 3 characters from the string "Python Programming"

In [15]:
sliced = "Python Programming" [3]
print(sliced)

h

4. Convert the string "hello" to uppercase

In [16]:
print("hello".upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple"

In [17]:
print("I like apple".replace("apple","orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it

In [18]:
my_list = [1,2,3,4,5]
print (my_list)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1,2,3,4]

In [20]:
list1 = [1, 2, 3, 4]
list1.append(10)
print(list1)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1,2,3,4,5}

In [21]:
list2 = [1,2,3,4,5]
list2.remove(3)
print(list2)

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c', 'd']

In [22]:
print(['a','b','c','d'][1])

b

10. Reverse the list [10, 20, 30, 40, 50]

In [23]:
reversed_list = [10, 20, 30, 40, 50][::-1]
print(reversed_list)

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it

In [25]:
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [26]:
colors = ('red','green','blue','yellow')
print(colors[-2])

blue

13. Find the minimum number in the tuple (10, 20, 5, 15)

In [27]:
print(min(10,20,5,15))

5

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [29]:
print(('dog', 'cat', 'rabbit').index('cat'))

1

Create a tuple with three fruits and check if "kiwi" is in it

In [31]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

16. Create a set with the elements 'a', 'b', 'c' and print it

In [32]:
my_set = {'a','b','c'}
print(my_set)

{'a', 'c', 'b'}

17. Clear all elements from the set {1, 2, 3, 4, 5}

In [33]:
s = {1,2,3,4,5}
s.clear()
print(s)

set()

18. Remove the element 4 from the set {1, 2, 3, 4}

In [34]:
s = {1,2,3,4}
s.remove(4)
print(s)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}

In [35]:
print({1,2,3}.union({3,4,5}))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [36]:
print({1,2,3}.intersection({2,3,4}))

{2, 3}

21. Create a dictionary with the keys "name", "age", and "city", and print it

In [38]:
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

22. Add a new key-value pair "country": "USA"

In [39]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key "name"

In [41]:
print({'name': 'Alice', 'age': 30}['name'])

Alice

24. Remove the key "age" from the dictionary

In [43]:
d = {'name': 'Bob', 'age': 22, 'city':'Network'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'Network'}

25. Check if the key "city" exists in the dictionary

In [44]:
print('city' in {'name':'Alice','city':'Paris'})

True

26. Create a list, a tuple, and a dictionary, and print them all

In [45]:
my_list = [1,2,3]
my_tuple = (4,5,6)
my_dict = {'a':1,'b':2}

27. Create a list of 5 random numbers between 1 and 100, sort it, and print

In [46]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[14, 56, 83, 90, 93]

28. Create a list with strings and print the element at the third index

In [47]:
str_list = ["apple", "banana", "cherry", "date", "elderberry"]
print(str_list[3])

date

29. Combine two dictionaries into one and print the result

In [48]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set

In [49]:
string_list = ["apple", "banana", "apple", "cherry"]
print(set(string_list))

{'banana', 'cherry', 'apple'}